@font-face {
  font-family: "Titan One";
  src: local("Titan One"), local("TitanOne"),
    url("./font/TitanOne.woff") format("woff"),
    url("./font/TitanOne.ttf") format("truetype"),
    url("./font/TitanOne.svg#TitanOne") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Varela Round";
  src: local("Varela Round Regular"), local("VarelaRound-Regular"),
    url("./font/VarelaRound-Regular.woff") format("woff"),
    url("./font/VarelaRound-Regular.ttf") format("truetype"),
    url("./font/VarelaRound-Regular.svg#VarelaRound-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --purple-color: rgba(107, 70, 255, 0.7);
  --lettuce-color: rgba(28, 186, 167, 0.75);
  --orange-color: rgba(255, 173, 0, 0.75);
  --form-color: rgba(225, 225, 225, 0.95);
  --card-background: rgba(68, 57, 21, 0.8);
  --white: rgb(255, 255, 254);
  --lauout: rgba(0, 0, 0, 0.7);
  --header-shadow: 0px 12px 23px 1px rgba(15, 15, 15, 0.75);
  --transition-back: background-color 250ms, box-shadow 250ms,
    color 250ms ease-in-out;
  --trasition: 250ms ease-in-out;
  --hover-transition: background-color 250ms, color 250ms ease-in-out;
  --user-page-gradient: linear-gradient(
    180deg,
    rgba(238, 174, 202, 0.43883490896358546) 0%,
    rgba(148, 187, 233, 0.9458377100840336) 100%
  );
}
